*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #2b0f63;
    color:#fff;
    padding: 1rem;
    text-align: center;
    
}
nav ul {
    display: flex;
    list-style-type: none;    
    justify-content:space-around;
}
nav a {
    
    color: #fff;
    text-decoration: none;
    padding:1em;
    font-weight: 700;
    font-size:larger ;
}
a:hover{
    background-color:#5934a2;
    border-radius: 20%;
}
main{
    padding:1rem;
}
div.container:hover{
    box-shadow: 5px 5px 5px grey;
    background-color: #9aa2f6;

}
.container{
    border: solid black;
    border-radius: 10px;
    margin: 1em;
}
.box{
    flex-wrap:wrap;
    display: flex;
    justify-content:space-between ;
}

h2{
    text-align:justify;
    background-color: #533c81;
    color: #fff;
    padding: 1rem;
    border-radius:0.25em;
    margin-bottom: 1em;
    margin-top: 1em;
}
h2:hover{
    background-color: #beb1db;
    color: rgb(130, 72, 72);
}
h3{
    padding: 0.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    background-color: #6234bf;
    border-radius:0.25em;
    color:azure;
}

img{
    height: 150px;
    border-radius: 5%;
}

.para{
    flex-basis: 50%;
    padding: 1rem;
    margin-bottom: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}
.imgs{
    margin: 1em;
    border-radius: 5%;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#Dakshimage{
    background-color: black;
}
#prayaasimage{
    background-color: black;
}
